
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #0d0d18 40%, #1a1a2e 100%);
}

.navbar {
    background-color: #1a1a1a;
    padding: 15px 0;
}

.nav-link {
    color: #f5f3f3 !important;
    margin-left: 25px;
}

.nav-link:hover {
    color: white !important;
}


.hero {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
}

h2 {
    color: rgb(252, 252, 252);
    font-size: 28px;
    font-weight: bold;
}

h5 {
    color: white;
}

p {
    color: #cfcfcf;
    font-size: 14px;
}


.main-img {
    max-height: 520px; 
    border-radius: 8px;
}


.btn-circle {
    width: 65px;
    height: 65px;
    background: #d9d9d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    margin-top: 40px;
}


.saiba-mais {
    display: inline-block;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

  .instagram img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}